.form-control {
    width: 100%;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.form-control {
    width: calc(100% - 20px);
    padding: 5px;
}

.modal-footer {
    text-align: right;
}

.modal-footer button {
    margin-left: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.modal-footer button:first-child {
    margin-left: 0;
}








/* .modal-content.dark-theme {
    background-color: #333;
    color: #fff;
    margin:30px;
}

.columns {
    display: flex;
}

.column {
    flex: 1;
    margin-right: 20px;
}

.form-control {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

label {
    color: #fff;
}

.modal-footer button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.modal-footer button:hover {
    background-color: #0056b3;
} 
*/