.navbar {
    /* background-color: #333;
    color: #fff; 
    padding: 1rem;
    align-items: center; */
    margin-bottom: 20px;
  }
  
  .navbar-logo {
    width: 118px; 

    margin-right: auto; 
    float: left;
  }
  
  /* .navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
   */
  /* .navbar-menu li {
    margin-right: 1.5rem; 
  }
  
  .navbar-menu li:last-child {
    margin-right: 0;
  }
  
  .navbar-menu li a {
    color: #fff; 
    text-decoration: none;
  } */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 30px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  @media (max-width: 768px) {
    .navbar-toggle {
      display: block;
      cursor: pointer;
    }
  
    .navbar-menu {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #333;
      width: 100%;
      text-align: center;
      padding: 1rem;
      flex-direction: column; 
    }
  
    .navbar-menu li {
      margin: 1rem 0;
    }
    
  }